/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block;
}
nav ul{
  list-style:none;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

body { 
  font: 12px Arial, Helvetica, sans-serif; 
  *font-size: small; 
  *font: x-small;
  line-height:1.5em; 
}

strong, th { font-weight: bold; }

/* www.aestheticallyloyal.com/public/optimize-legibility/ */
h1,h2,h3,h4,h5,h6 { 
  font-weight: bold; 
  text-rendering: optimizeLegibility; 
}

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }


/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, a:visited { color: #015ca7; text-decoration: underline; }
a:hover { color:#036; }

div.vacancyList {
  width: 600px;
}

/* Listeneintrag Stellenanzeige */
article.vacancy {
  border-bottom: 1px solid #D3D5D4;
  padding: 10px 20px;
}

article.vacancy:last-child {
  border-bottom: none;
}

article.vacancy header {
  padding: 0 0 10px 0;
}

article.vacancy h3 {
  font-size: 14px;  
}

article.vacancy header em {
  font-style: normal;
  display: block;
  line-height: 12px;
  color: #9A9A9A;
}

article.vacancy footer {
  float: right;
  padding: 0;
  text-align: right;
}

article.vacancy footer img {
  max-width: 100%;
}

article.vacancy footer a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

article.vacancy footer a:hover {
  color: #444;
}

article.vacancy footer span {
  color: #737373;
}

article.vacancy>div {
  color: #737373;
  float: left;
  padding: 0;
  margin: 0 20px 0 0;
}

article.vacancy>div.logo {
  width: 350px;
}

article.vacancy>div p {
  margin: 0;
}
